NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=CHANGE_ME_TO_A_RANDOM_LOCAL_SECRET
AUTH_KEYCLOAK_ID=web-client
AUTH_KEYCLOAK_SECRET=acutis-local-web-secret
AUTH_KEYCLOAK_ISSUER=http://localhost:8080/realms/acutisrealm
NEXT_PUBLIC_API_BASE_URL=http://localhost:5009
NEXT_PUBLIC_JITSI_DOMAIN=meet.acutis.local
NEXT_PUBLIC_DISABLE_AUTH=false
