.git
.git-backups
.vs
.vscode
.claude
.certs
logs
tmp
docs
resources
maps
media
node_modules
acutis.web/node_modules
acutis.web/.next
acutis.api/bin
acutis.api/obj
acutis.api/**/bin
acutis.api/**/obj
acutis.tab
HSE Refactor
*.log
*.tmp
*.user
*.suo
*.pfx
*.pem
*.key
docker/.env
