ACUTIS_TAB_API_BASE_URL=https://acutis.salientrecovery.com/api-proxy
ACUTIS_TAB_KEYCLOAK_BASE_URL=https://acutis.salientrecovery.com/keycloak
ACUTIS_TAB_KEYCLOAK_ISSUER=https://acutis.salientrecovery.com/keycloak/realms/acutisrealm
ACUTIS_TAB_KEYCLOAK_AUTH_URL=https://acutis.salientrecovery.com/keycloak/realms/acutisrealm/protocol/openid-connect/auth
ACUTIS_TAB_KEYCLOAK_CLIENT_ID=tab-client
ACUTIS_TAB_KEYCLOAK_AUDIENCE=api-client
ACUTIS_TAB_SCHEME=acutis-tab
ACUTIS_TAB_REDIRECT_URI=acutis-tab://redirect

# Development-only escape hatch. Leave false/empty for production and normal tablet testing.
ACUTIS_TAB_AUTH_DISABLED=false
